<ion-view view-title="{{stop.name}}">
  <ion-content class="padding">


  <div class="list card">


    <div class="item item-body">
      
      <h2>{{stop.name}}</h2>
      <p>{{stop.description}}</p>
      <img src={{stop.ratingUrl}}>
      <h3>{{stop.displayAddress}}</h3>
    </div>

    <div class="item item-image">
      <img ng-src="{{stop.photoUrl}}">
    </div>

    <div class="audio player">
      <audio src="{{stop.audioUrl}}" preload="auto" controls></audio>
    </div>



  </div>
    
  </ion-content>

</ion-view>