<ion-view view-title="Jaunts">
  <!-- map view -->
  <ion-nav-buttons side="primary">
    <a href="#" ng-click="openModal()"><button class="button button-icon icon ion-ios7-search-strong ion-ios-search-strong">Filter</button></a>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <a href="#/tab/map"><button class="button button-icon icon ion-ios7-navigate ion-ios-navigate"> Map</button></a>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item class="jaunt-item item-remove-animate item-icon-right" ng-repeat="jaunt in $root.jaunts track by $index" type="item-text-wrap" href="#/tab/jaunts/{{jaunt._id}}">
        <div class="row">
          <div class="col">
            <h1>{{jaunt.meta.title}}</h1>
            <p>
                <div class="ion-ios7-timer ion-ios-timer">
                  {{jaunt.duration.text}}
                </div>
                <p class="fancies">
                  fancies: {{jaunt.meta.tags.join(', ')}}
                </p>
            </p>
          </div>
        </div>

        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
