div.home {
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.background {
  opacity: 1;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}

div.home {
  opacity: 1;
  transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
}

.background.fade {
  background-color: #ffffff;
}

.background.fade, div.home.fade {
  opacity: 0;
}

img.logo {
  height: calc(100% - 245px);
}

div.home h1.title, div.home h2.slogan {
  color: white;
}

div.home h1.title {
  font-family: 'LondrinaSolid';
  font-size: 800%;

}

div.home h2.slogan {
  font-family: 'Bellota';
  font-size: 220%;
}

div.home h2.slogan strong {
  font-size:120%;
}

div.homeButtons {
  padding-left: 40px;
  padding-right: 40px;
}

jaunt-item:hover {
  background-color: #FFB87F;
}

.col {
  flex: none;
}

.col h1 {
  font-size: 120%;
}

.bar.bar-header .button, .bar-light button.button.button-clear, .bar.bar-header div.title {
  text-shadow: 0 1px 1px #5C5C5C;
  color: white;
}

.bar.bar-header .button:hover, .bar-light button.button.button-clear:hover, .bar.bar-header div.title.bar-light:hover {
  color: #444444;
}

.bar-light button.button.button-icon::before, button.button.back-button .icon.ion-ios7-arrow-back::before {
  font-size: 155%;
}
